<p-dialog
  [(visible)]="show"
  header="Select Date Range"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '350px' }"
>
  <p-datepicker
    [(ngModel)]="customRange"
    selectionMode="range"
    dateFormat="yy-mm-dd"
    inline="true"
    [minDate]="minDate"
    [maxDate]="maxDate"
  ></p-datepicker>

  <div class="mt-3 flex justify-content-around gap-2">
    <button
      pButton
      type="button"
      label="Cancel"
      (click)="cancel()"
      severity="secondary"
    ></button>
    <button
      pButton
      type="button"
      label="Apply"
      (click)="apply()"
      [disabled]="!customRange"
    ></button>
  </div>
</p-dialog>
