.contents{
    justify-self: center;
    color:var(--textColor);
    font-family: var(--font1);
}

.overview{
    padding: 1rem;
    display: flex;
    .thumbnail{
        align-self: center;
        justify-self: center;

        .imageContainer:hover{
            display: flex;

            .youtubeLogo{
                opacity: 100%;
            }
        }

        .videoThumbnail{
            border-radius: 16px;
        }

        .youtubeLogo{
            transition: .5s ease;
            opacity: 0;
            position: fixed;
            width: 12%;
        }
    }
}