<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

<div class="navContainer">
    <nav id="navbar">
        <div class="logo">
            <span>
                Vantage
            </span>
        </div>
        <div class="tabs" [class.active]="isMenuOpen">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="reports">Reports</a></li>
                <li><a href="tools">Tools</a></li>
                <li><a href="requests">Requests</a></li>
                <li>
                    @if(!isAuthenticated){<button (click)="login()" class="glass">Login</button>}
                    @else{<button (click)="logout()" class="glass">Logout</button>}
                </li>
            </ul>
        </div>
        <div class="hamburger">
            <div (click)="toggleMenu()">
                ☰
            </div>
        </div>
    </nav>
</div>
<div class="navSpacer"></div>
<!-- <div class="menuContainer" [class.active]="isMenuOpen">
    <div class="menu">
        <div class="menuContent">
            <button class="menuClose" (click)="toggleMenu()">✖</button>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="reports">Reports</a></li>
                <li><a href="tools">Tools</a></li>
                <li><a href="requests">Requests</a></li>
                <li>
                    @if(!isAuthenticated){<button (click)="login()" class="glass">Login</button>}
                    @else{<button (click)="logout()" class="glass">Logout</button>}
                </li>
            </ul>
        </div>
        
    </div>
</div> -->
<p-drawer [(visible)]="isMenuOpen" header="Menu" position="right">
    <div class="menuContent">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="reports">Reports</a></li>
            <li><a href="tools">Tools</a></li>
            <li><a href="requests">Requests</a></li>
            <li>
                @if(!isAuthenticated){<p-button (click)="login()" class="glass">Login</p-button>}
                @else{<p-button (click)="logout()" class="glass">Logout</p-button>}
            </li>
        </ul>
    </div>
</p-drawer>
    
