<div class="navContainer">
    <nav id="navbar">
        <div class="logo">
            <span>
                <a href="">Vantage</a>
            </span>
        </div>
        <div class="tabs" [class.active]="isMenuOpen">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="reports">Reports</a></li>
                <li><a href="videos">Videos</a></li>
                <li><a href="requests">Requests</a></li>
                <li>
                    <button (click)="logout()" class="glass">Logout</button>
                </li>
            </ul>
        </div>
        <div class="hamburger">
            <div (click)="toggleMenu()">
                ☰
            </div>
        </div>
    </nav>
</div>
<div class="navSpacer"></div>
<p-drawer [(visible)]="isMenuOpen" header="Menu" position="right">
    <div class="menuContent">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="reports">Reports</a></li>
            <li><a href="videos">Videos</a></li>
            <li><a href="requests">Requests</a></li>
            <li>
                <p-button (click)="logout()" class="glass">Logout</p-button>
            </li>
        </ul>
    </div>
</p-drawer>
    
