.container {
    display: flex;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    margin: 2.5vw;
  }
  
  .reportGrid {
    padding:1rem;
  }
  
  .reportCard {
    height:10rem;
    padding: 2rem;
    margin:1rem 2.5rem;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font:var(--font1);
    color: var(--textColor);
  }
  
  .reportCard:hover {
    transform: scale(1.05);
  }
  
  .reportModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  .reportPopup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 800px;
    text-align: center;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  iframe {
    width: 100%;
    height: 60vh;
    border-radius: 5px;
  }
  