@import "../node_modules/primeicons/primeicons.css";

:root {
    --primaryColor: #d3cfff;
    --secondaryColor: #4285f4;
    --textColor:#f0f8ff;

    --logoFont:"Gugi", sans-serif;
    --font1: "Roboto", sans-serif;
    --font2: "Chakra Petch", sans-serif;
}

*{
    padding: 0;
    box-sizing: border-box;
}

.m0 { margin: 0 !important; }
.p0 { padding: 0 !important; }

.flex { display: flex; }
.flex-center { display: flex; justify-content: center; align-items: center; }
.flex-column { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row;}

.w100 { width: 100% !important; }
.h100 { height: 100% !important; }

.glass{
    background-color: rgba(240, 248, 255, 0.098) !important;
    border-radius: 0.5rem!important;
    backdrop-filter: blur(0.5rem);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.147);
    transition: 0.3s ease-in-out;
}

.glass:hover{
    transform: scale(1.01);
}

.pt1{ padding-top: 1rem; }
.pb1{ padding-bottom: 1rem; }
.pl1{ padding-left: 1rem; }

.p1{ padding: 1rem; }

.mb1{ margin-bottom: 1rem; }

.m1{ margin: 1rem; }

@media (max-width: 900px) {
    html {
      font-size: 14px;
    }
  }

@media (min-width:2560px){
    html{
        font-size:18px;
    }
}

/* ANIMATIONS */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSide{
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounce {
  0%, 100% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, -10px); }
}