<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card flex-center glass">
                <img class="profile" src="assets\profile.jpeg" alt="Card image cap">
                <div class="flex-column pt1">
                    <h5 class="cardTitle">Channel Owner</h5>
                    <p class="">Subscribers: 100000</p>
                    <a href="#" class="btn btn-primary">Go to Channel</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="cardTitle">Daily Performance Tracker</h5>
                    <p>Views: 30000</p>
                    <p>Viewtime: 3000 hrs</p>
                    <p>Subscribers Gained: 100</p>
                    <p>Impressions: 100</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Latest Video Stats</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Best Performing Video (30 Days)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Engagement Insights</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Subscriber Growth Trend</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Audience Insights</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Traffic Sources</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
      
</div>