<div class="col-12 col-md-11 col-xl-10 baseContainer">
    <div class="row">
        <div class="col-lg-4">
            <div class="overview card glass">
                <img class="profile" src={{dashboardData?.profileUrl}} alt="Youtube Channel Display Picture">
                <div class="flex-column pt1">
                    <h5 class="profileName flex-center">{{dashboardData?.channelName}}</h5>
                    <p class="subsCount">Subscribers: {{dashboardData?.subscriberCount}}</p>
                    <a href={{dashboardData?.channelUrl}} target="_blank" rel="noopener noreferrer" pButton class="extButton">
                        Go to Channel
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card glass">
                <div class="period">
                    <div class="periodHead">
                        <h5 class="cardTitle">Performance</h5>
                        <div>
                            <p-dropdown
                                [options]="rangeData"
                                [(ngModel)]="periodRange"
                                optionLabel="name"
                                optionValue="value"
                                placeholder="Select Range"
                                styleClass="w-full md:w-14rem"
                                (onChange)="getPeriodAPI(periodRange)"
                                ></p-dropdown>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row fw-bold border-bottom py-2">
                            <div class="col-6">Metric</div>
                            <div class="col-md-4 col-3">Current</div>
                            <div class="col-md-2 col-3">Change</div>
                        </div>

                        <div class="row py-2 border-bottom">
                            <div class="col-6">Subscriber Gained</div>
                            <div class="col-md-4 col-3">{{ periodData?.current?.subscribersGained }}</div>
                            <div class="col-md-2 col-3"
                                [ngClass]="getChangeClass(getChange(periodData?.current?.subscribersGained, periodData?.previous?.subscribersGained))">
                                {{ getChange(periodData?.current?.subscribersGained,
                                periodData?.previous?.subscribersGained) | number:'1.0-1' }}%
                            </div>
                        </div>

                        <div class="row py-2 border-bottom">
                            <div class="col-6">Views</div>
                            <div class="col-md-4 col-3">{{ periodData?.current?.views }}</div>
                            <div class="col-md-2 col-3"
                                [ngClass]="getChangeClass(getChange(periodData?.current?.views, periodData?.previous?.views))">
                                {{ getChange(periodData?.current?.views, periodData?.previous?.views) | number:'1.0-1' }}%
                            </div>
                        </div>

                        <div class="row py-2 border-bottom">
                            <div class="col-6">Likes</div>
                            <div class="col-md-4 col-3">{{ periodData?.current?.likes }}</div>
                            <div class="col-md-2 col-3"
                                [ngClass]="getChangeClass(getChange(periodData?.current?.likes, periodData?.previous?.likes))">
                                {{ getChange(periodData?.current?.likes, periodData?.previous?.likes) | number:'1.0-1' }}%
                            </div>
                        </div>

                        <div class="row py-2 border-bottom">
                            <div class="col-6">Comments</div>
                            <div class="col-md-4 col-3">{{ periodData?.current?.comments }}</div>
                            <div class="col-md-2 col-3"
                                [ngClass]="getChangeClass(getChange(periodData?.current?.comments, periodData?.previous?.comments))">
                                {{ getChange(periodData?.current?.comments, periodData?.previous?.comments) |
                                number:'1.0-1' }}%
                            </div>
                        </div>

                        <div class="row py-2 border-bottom">
                            <div class="col-6">Watchtime (hours)</div>
                            <div class="col-md-4 col-3">{{ periodData?.current?.estimatedMinutesWatched / 60 | number:'1.2-2' }}
                            </div>
                            <div class="col-md-2 col-3"
                                [ngClass]="getChangeClass(getChange(periodData?.current?.estimatedMinutesWatched, periodData?.previous?.estimatedMinutesWatched))">
                                {{ getChange(periodData?.current?.estimatedMinutesWatched,
                                periodData?.previous?.estimatedMinutesWatched) | number:'1.0-1' }}%
                            </div>
                        </div>

                        <div class="row py-2 border-bottom">
                            <div class="col-6">Avg. Watch %</div>
                            <div class="col-md-4 col-3">{{ periodData?.current?.averageViewPercentage | number:'1.1-2' }}</div>
                            <div class="col-md-2 col-3"
                                [ngClass]="getChangeClass(getChange(periodData?.current?.averageViewPercentage, periodData?.previous?.averageViewPercentage))">
                                {{ getChange(periodData?.current?.averageViewPercentage,
                                periodData?.previous?.averageViewPercentage) | number:'1.0-1' }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card glass">
                <div class="latestVideo">
                    <h5>Latest Video</h5>
                    <div class="video-header row">
                        <div class="thumbnailContainer flex-center col-md-3 col-8">
                            <img [src]="latestVideoData?.thumbnail" alt="Video Thumbnail" class="latestThumbnail" (click)="openVideo(latestVideoData.url)" />
                            <img src="assets/youtubeLogo.png" class="youtubeLogo">
                        </div> 
                      <div class="video-info col-md-9 col-12">
                        <h3 class="video-title">{{ latestVideoData?.title }}</h3>
                        <p class="video-date">Published on {{ latestVideoData?.publishedAt | date: 'mediumDate' }}</p>
                      </div>
                    </div>
                    <div class="video-stats">
                        <div class="row g-3">
                            <div class="col-6 col-md-4">
                                <div class="stat-item">
                                    <span class="stat-label">Views</span>
                                    <span class="stat-value">{{ latestVideoData?.views | number }}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="stat-item">
                                    <span class="stat-label">Watch Time (mins)</span>
                                    <span class="stat-value">{{ latestVideoData?.estimatedMinutesWatched | number: '1.0-0' }}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="stat-item">
                                    <span class="stat-label">Avg. View Duration</span>
                                    <span class="stat-value">{{ latestVideoData?.averageViewDuration}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="stat-item">
                                    <span class="stat-label">Avg. View %</span>
                                    <span class="stat-value">{{ latestVideoData?.averageViewPercentage | number:'1.0-1' }}%</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="stat-item">
                                    <span class="stat-label">Subscribers Gained</span>
                                    <span class="stat-value">{{ latestVideoData?.subscribersGained | number }}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="stat-item">
                                    <span class="stat-label">Shares</span>
                                    <span class="stat-value">{{ latestVideoData?.shares | number }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <div class="col-lg-4">
            <div class="card glass">
                <div class="bestVideo">
                    <div class="bestHead">
                        <h5>Best Video</h5>
                        <div>
                            <p-dropdown
                                [options]="rangeData"
                                [(ngModel)]="bestRange"
                                optionLabel="name"
                                optionValue="value"
                                placeholder="Select Range"
                                styleClass="w-full md:w-14rem"
                                (onChange)="getBestVideoAPI(bestRange)"
                                ></p-dropdown>
                        </div>
                    </div>
                    <div class="bestContent">
                        <div class="thumbnailContainer  flex-center">
                            <img [src]="bestVideoData?.thumbnail" alt="Video Thumbnail" class="bestThumbnail" (click)="openVideo(bestVideoData.url)" />
                            <img src="assets/youtubeLogo.png" class="youtubeLogo">
                        </div>                       
                        <h3 class="video-title">{{ bestVideoData?.title}}</h3>
                        <p class="video-date">Published on {{bestVideoData?.publishedAt | date: 'mediumDate'}}</p>
                        <div class="score">
                            <h2 pTooltip="Performance compared to average video performance in selected time period"
                                tooltipPosition="top" showDelay="500" hideDelay="300">
                                {{ bestVideoData?.percentScore | number:'1.0-2' }}%
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="card glass">
                <div class="engagement mb1">
                    <div class="engagementHeader">
                        <h5>Engagement</h5>
                        <p-dropdown
                                [options]="rangeData"
                                [(ngModel)]="engagementRange"
                                optionLabel="name"
                                optionValue="value"
                                placeholder="Select Range"
                                styleClass="w-full md:w-14rem"
                                (onChange)="getEngagementAPI(engagementRange)"
                                ></p-dropdown>
                    </div>
                    <div class="row charts flex-center flex-row">
                        <div class="col-6 col-md-4 pieChart p1">
                            <p-chart type="pie" [data]="pieData" [options]="pieOptions"/>
                        </div>
                        <div class="col-12 col-md-8 lineGraph p1">
                            <p-chart type="line" [data]="graphData" [options]="lineOptions" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card glass">
                <div class="card-body">
                    <div class="subscriber">
                        <div class="subscriberHeader mb-2">
                            <h5>Subscriber Trend</h5>
                            <p-dropdown
                                    [options]="rangeData"
                                    [(ngModel)]="subscriberRange"
                                    optionLabel="name"
                                    optionValue="value"
                                    placeholder="Select Range"
                                    styleClass="w-full md:w-14rem"
                                    (onChange)="getSubscriberAPI(subscriberRange)"
                                    ></p-dropdown>
                        </div>
                        <div class="col-11 subscriberChart">
                            <p-chart type="bar" [data]="stackedData" [options]="stackedOptions" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="card glass">
                <div class="card-body">
                    <div class="traffic">
                        <div class="trafficHeader mb-2">
                            <h5>Traffic Sources</h5>
                            <p-dropdown
                                    [options]="rangeData"
                                    [(ngModel)]="trafficRange"
                                    optionLabel="name"
                                    optionValue="value"
                                    placeholder="Select Range"
                                    styleClass="w-full md:w-14rem"
                                    (onChange)="getTrafficSourcesAPI(subscriberRange)"
                                    ></p-dropdown>
                        </div>
                        <div class="col-11 trafficChart">
                            <p-chart type="bar" [data]="doubleBarData" [options]="doubleBarOptions" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Audience Insights</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>