<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="overview card glass">
                <img class="profile" src={{dashboardData?.profileUrl}} alt="Youtube Channel Display Picture">
                <div class="flex-column pt1">
                    <h5 class="cardTitle">{{dashboardData?.channelName}}</h5>
                    <p class="">Subscribers: {{dashboardData?.subscriberCount}}</p>
                    <a href={{dashboardData?.channelUrl}} target="_blank">Go to Channel</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="cardTitle">Daily Performance</h5>
                    <table>
                        <tbody>
                            <tr>
                                <td>Subscriber Gained</td>
                                <td>{{periodData?.current.subscribersGained}}</td>
                            </tr>
                            <tr>
                                <td>Views</td>
                                <td>{{periodData?.current.views}}</td>
                            </tr>
                            <tr>
                                <td>Likes</td>
                                <td>{{periodData?.current.likes}}</td>
                            </tr>
                            <tr>
                                <td>Comments</td>
                                <td>{{periodData?.current.comments}}</td>
                            </tr>
                            <tr>
                                <td>Watchtime</td>
                                <td>{{periodData?.current.estimatedMinutesWatched/60}}</td>
                            </tr>
                            <tr>
                                <td>Average Watch Percentage</td>
                                <td>{{periodData?.current.averageViewPercentage}}</td>
                            </tr>
                        </tbody>
                    </table>   
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Latest Video Stats</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Best Performing Video (30 Days)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Engagement Insights</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Subscriber Growth Trend</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Audience Insights</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card glass">
                <div class="card-body">
                    <h5 class="card-title">Traffic Sources</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
      
</div>