<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
<app-background></app-background>
<app-navbar></app-navbar>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true">
</ngx-spinner>
<p-toast></p-toast>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
